@model PhoneApp.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}


<p class="text-success">@ViewBag.StatusMessage</p>
<div style="width:100%; min-height:500px">
    
    <hr />
    <h1 class="thumbnail text-center">You can only change your password!</h1>
    @if (Model.HasPassword)
    {
        @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn btn-danger" })
    }
    else
    {
        @Html.ActionLink("Create", "SetPassword")
    }
    <br />
    <br />
    <label class="label-danger">For any questions, contact Admin!</label>
   
</div>
