@{
    ViewBag.Title = "About";

}


<div style="min-height:500px; display:inline-block; margin-top:40px; width:100%">
    <div class="col-lg-5" style="display:inline-block">
        <span>
            <img src="https://wallpapershome.com/images/pages/pic_v/17240.jpg" style="max-width:400px"/>   
        </span>
    </div>
    <div class="col-lg-7" style="text-align:center">
        <h2>About us!</h2>
        <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non varius eros, a placerat enim. Aenean vulputate nisl id pharetra dignissim. Sed bibendum lorem quis faucibus semper. Pellentesque sit amet ipsum ac dolor euismod elementum. Donec sit amet tellus vel elit molestie tincidunt. Integer et urna nulla. Nunc vel nibh velit. Vestibulum sodales dui nec nunc ornare maximus. Suspendisse ultricies ultrices neque ut congue. Ut ante enim, accumsan a felis eget, ornare cursus sem.
        </span>
        <hr />
        <span>
            Nulla porttitor pulvinar sapien non cursus. Vestibulum ac venenatis leo. Suspendisse eleifend lectus est, et vestibulum quam bibendum at. Etiam et nisl odio. Ut sed posuere lacus. Morbi euismod tempus erat, ut viverra lectus eleifend a. Phasellus eget nulla rutrum, facilisis diam non, finibus velit.
        </span>
        <hr />
        <span>
            Nulla laoreet vulputate justo, ut pellentesque leo commodo eu. Sed at lacinia erat. Sed accumsan porttitor neque nec fringilla. Mauris pharetra risus vel semper porttitor. Praesent elementum, purus at malesuada sodales, dui mauris bibendum elit, id placerat lectus urna id diam. Vestibulum vestibulum varius lectus ac ultrices. Integer in turpis porta, hendrerit ipsum vel, bibendum justo.
        </span>
        <hr />
        <span>
            Nulla laoreet vulputate justo, ut pellentesque leo commodo eu. Sed at lacinia erat. Sed accumsan porttitor neque nec fringilla. Mauris pharetra risus vel semper porttitor. Praesent elementum, purus at malesuada sodales, dui mauris bibendum elit, id placerat lectus urna id diam. Vestibulum vestibulum varius lectus ac ultrices. Integer in turpis porta, hendrerit ipsum vel, bibendum justo.
        </span>
        <hr />
        <span>
            Nulla laoreet vulputate justo, ut pellentesque leo commodo eu. Sed at lacinia erat. Sed accumsan porttitor neque nec fringilla. Mauris pharetra risus vel semper porttitor. Praesent elementum, purus at malesuada sodales, dui mauris bibendum elit, id placerat lectus urna id diam. Vestibulum vestibulum varius lectus ac ultrices. Integer in turpis porta, hendrerit ipsum vel, bibendum justo.
        </span>
        <hr />
        <span>
            Nulla laoreet vulputate justo, ut pellentesque leo commodo eu. Sed at lacinia erat. Sed accumsan porttitor neque nec fringilla. Mauris pharetra risus vel semper porttitor. Praesent elementum, purus at malesuada sodales, dui mauris bibendum elit, id placerat lectus urna id diam. Vestibulum vestibulum varius lectus ac ultrices. Integer in turpis porta, hendrerit ipsum vel, bibendum justo.
        </span>
    </div>
</div>